/* Moonlight UI Status */
.moonlightui-status {
  color: white;
  text-shadow: 1px 1px 3px $black;
  font-size: 12px;
  vertical-align: middle;
  padding-left: 15px;
  margin-bottom: 8px;
  line-height: 20px;
  font-family: $font-family;
}