/* Grey pallet */
$grey-supersoniclight: #222222;
$grey-ultralight: #262626;
$grey-ultralighter: #282828;
$grey-light: #292929;
$grey-lighter: #2E2E2E;
$grey-dim: #303030;
$grey-dimgrey: #323333;
$grey-dimergrey: #333333;
$grey-shallowgrey: #343434;
$grey-shallowergrey: #383838;
$grey-dark: #404040;
$grey-darker: #4B4B4B;
$black: #000000;
$white: #FFFFFF;

/* Buttons */
$btn-grey-one: #4C4C4C;
$btn-grey-two: #3D3D3D;
$btn-grey-gradient-one: #1D1D1D;
$btn-grey-gradient-two: #2B2B2B;

/* Modals and Modals buttons */
$modal-grey-header: #373737;
$modal-btn-close: #FF5154;
$modal-btn-min: #FFBA39;
$modal-btn-max: #00CC55;
$modal-btn-disable: #CFCFCF;
$modal-main-begin: #3C3C3C;
$modal-main-end: #333333;
$modal-main-begin-border: #575757;

/* Selected color */
$selected: #0a6aa1;

/* Drop Shadow */
$drop-shadow-grey: rgba(0,0,0,0.75);

/* Font family */
$font-family: -apple-system, "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, sans-serif, Arial
