/* Moonlight Navigation Bar */
.moonlightui-navbar {
  height: 45px;
  margin: 0;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 14px;
  color: white;
  line-height: 45px;
  width: 100%;
  font-family: $font-family;
}